In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("globalterrorismdb_0718dist.csv", encoding = "ISO-8859-1")

C:\Users\lenovo\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [4]:
df.shape

(181691, 135)

In [5]:
df.isnull().any()

eventid       False
iyear         False
imonth        False
iday          False
approxdate     True
              ...
INT_LOG       False
INT_IDEO      False
INT_MISC      False
INT_ANY       False
related        True
Length: 135, dtype: bool

In [6]:
name_lis = list(df.columns[df.isnull().any()])
name_lis

['approxdate',
 'resolution',
 'provstate',
 'city',
 'latitude',
 'longitude',
 'specificity',
 'location',
 'summary',
 'doubtterr',
 'alternative',
 'alternative_txt',
 'multiple',
 'attacktype2',
 'attacktype2_txt',
 'attacktype3',
 'attacktype3_txt',
 'targsubtype1',
 'targsubtype1_txt',
 'corp1',
 'target1',
 'natlty1',
 'natlty1_txt',
 'targtype2',
 'targtype2_txt',
 'targsubtype2',
 'targsubtype2_txt',
 'corp2',
 'target2',
 'natlty2',
 'natlty2_txt',
 'targtype3',
 'targtype3_txt',
 'targsubtype3',
 'targsubtype3_txt',
 'corp3',
 'target3',
 'natlty3',
 'natlty3_txt',
 'gsubname',
 'gname2',
 'gsubname2',
 'gname3',
 'gsubname3',
 'motive',
 'guncertain1',
 'guncertain2',
 'guncertain3',
 'nperps',
 'nperpcap',
 'claimed',
 'claimmode',
 'claimmode_txt',
 'claim2',
 'claimmode2',
 'claimmode2_txt',
 'claim3',
 'claimmode3',
 'claimmode3_txt',
 'compclaim',
 'weapsubtype1',
 'weapsubtype1_txt',
 'weaptype2',
 'weaptype2_txt',
 'weapsubtype2',
 'weapsubtype2_txt',
 'weaptype3',
 'weaptype3_txt',
 'weapsubtype3',
 'weapsubtype3_txt',
 'weaptype4',
 'weaptype4_txt',
 'weapsubtype4',
 'weapsubtype4_txt',
 'weapdetail',
 'nkill',
 'nkillus',
 'nkillter',
 'nwound',
 'nwoundus',
 'nwoundte',
 'propextent',
 'propextent_txt',
 'propvalue',
 'propcomment',
 'ishostkid',
 'nhostkid',
 'nhostkidus',
 'nhours',
 'ndays',
 'divert',
 'kidhijcountry',
 'ransom',
 'ransomamt',
 'ransomamtus',
 'ransompaid',
 'ransompaidus',
 'ransomnote',
 'hostkidoutcome',
 'hostkidoutcome_txt',
 'nreleased',
 'addnotes',
 'scite1',
 'scite2',
 'scite3',
 'related']

In [7]:
null = dict()
for i in name_lis:
    percent_null = df[i].isnull().sum()/len(df[i])*100
    if percent_null >= 70:
        null[i]=percent_null

null

{'approxdate': 94.91499303762983,
 'resolution': 98.77814531264619,
 'alternative': 84.03278093026071,
 'alternative_txt': 84.03278093026071,
 'attacktype2': 96.52486914596761,
 'attacktype2_txt': 96.52486914596761,
 'attacktype3': 99.7644352224381,
 'attacktype3_txt': 99.7644352224381,
 'targtype2': 93.86650962348162,
 'targtype2_txt': 93.86650962348162,
 'targsubtype2': 94.11913633586694,
 'targsubtype2_txt': 94.11913633586694,
 'corp2': 94.43175501263134,
 'target2': 93.93475736277526,
 'natlty2': 94.04043128168153,
 'natlty2_txt': 94.04043128168153,
 'targtype3': 99.35274724669907,
 'targtype3_txt': 99.35274724669907,
 'targsubtype3': 99.39622766124904,
 'targsubtype3_txt': 99.39622766124904,
 'corp3': 99.4353049958446,
 'target3': 99.35329763169337,
 'natlty3': 99.36870841153387,
 'natlty3_txt': 99.36870841153387,
 'gsubname': 96.75823238355228,
 'gname2': 98.89207500646702,
 'gsubname2': 99.91193840091144,
 'gname3': 99.82167526184567,
 'gsubname3': 99.98899230011394,
 'motive': 72.17198430301997,
 'guncertain2': 98.92399733613662,
 'guncertain3': 99.82387680182288,
 'claimmode': 89.49700315370602,
 'claimmode_txt': 89.49700315370602,
 'claim2': 98.95977236076635,
 'claimmode2': 99.66096284350904,
 'claimmode2_txt': 99.66096284350904,
 'claim3': 99.82497757181147,
 'claimmode3': 99.92679879575763,
 'claimmode3_txt': 99.92679879575763,
 'compclaim': 97.33668701256529,
 'weaptype2': 92.77509617977775,
 'weaptype2_txt': 92.77509617977775,
 'weapsubtype2': 93.64745639574883,
 'weapsubtype2_txt': 93.64745639574883,
 'weaptype3': 98.97463275561255,
 'weaptype3_txt': 98.97463275561255,
 'weapsubtype3': 99.06819820464415,
 'weapsubtype3_txt': 99.06819820464415,
 'weaptype4': 99.95982189541584,
 'weaptype4_txt': 99.95982189541584,
 'weapsubtype4': 99.96147305039875,
 'weapsubtype4_txt': 99.96147305039875,
 'propvalue': 78.54103945710024,
 'nhostkid': 92.53017485731269,
 'nhostkidus': 92.56044603199939,
 'nhours': 97.76378576814481,
 'ndays': 95.52867230627824,
 'divert': 99.82167526184567,
 'kidhijcountry': 98.18097759382688,
 'ransomamt': 99.25698025769026,
 'ransomamtus': 99.69013324820712,
 'ransompaid': 99.57400201440907,
 'ransompaidus': 99.69618748314446,
 'ransomnote': 99.71710211292799,
 'hostkidoutcome': 93.95071852761006,
 'hostkidoutcome_txt': 93.95071852761006,
 'nreleased': 94.27599605924344,
 'addnotes': 84.43015889614786,
 'scite3': 76.04944658788823,
 'related': 86.21946051262859}

In [8]:
print(df.columns)

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [9]:
df.rename(columns={'iyear':'Year','imonth':'Month','city':'City','iday':'Day','country_txt':'Country','region_txt':'Region','attacktype1_txt':'AttackType','target1':'Target','nkill':'Killed','nwound':'Wounded','summary':'Summary','gname':'Group','targtype1_txt':'Target_type','weaptype1_txt':'Weapon_type','motive':'Motive'},inplace=True)
df['Casualities'] = df.Killed + df.Wounded
df= df[['Year','Month','Day','Country','Region','City','latitude','longitude','AttackType','Killed','Wounded','Casualities','Target','Group','Target_type','Weapon_type']]

df.head()

,Year,Month,Day,Country,Region,City,latitude,longitude,AttackType,Killed,Wounded,Casualities,Target,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,1.0,Julio Guzman,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,0.0,"Nadine Chaval, daughter",23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,1.0,Employee,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,NaN,U.S. Embassy,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,NaN,U.S. Consulate,Unknown,Government (Diplomatic),Incendiary

In [10]:
df.isnull().sum()

Year               0
Month              0
Day                0
Country            0
Region             0
City             434
latitude        4556
longitude       4557
AttackType         0
Killed         10313
Wounded        16311
Casualities    16874
Target           636
Group              0
Target_type        0
Weapon_type        0
dtype: int64

In [11]:
len(df['Country'].unique())

205

In [12]:
len(df['Region'].unique())

12